# Environment
.env
!.env.example
.env.local
**/.env.local

# Java
**/target/
**/.mvn/
**/target/
*.class
*.jar
*.war

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/.venv/
**/venv/
**/.env
**/*.egg-info/

# Node
**/node_modules/
**/dist/
**/.next/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Docker
**/docker-data/

# Logs
**/*.log
**/logs/
logs/
